{% extends "layout.html" %}

{% block title %}
Astrophotography
{% endblock %}

<style>
  .h2{
    font-family: 'Road Rage', cursive;
    text-shadow: #C9ADA7;
    text-decoration-color: #FFFFFF;
  }
  
.fit .tig {
    width: 100%;
    height: 100%;
    object-fit: fit;
}

@supports(object-fit: fit) {
    .fit .tig {
        object-fit: fit;
    }
}

.btn btn-info sel1{
  float: right;
}

.btn btn-danger sel2{
  float: right;
}


</style>
{% block content %}

<h2 class="text-center" style="color:white">Post Photos and add some descriptions</h2>
{% load static %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-warning mx-4" onclick="loadContent(this)" data-urlpage="{% url 'astro-create' %}">
  Add a Post 
</button>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalPost">
              
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title="Surprise us!!!">Close</button>
        </div>
      </div>
    </div>
  </div>

{% for AstroPost in object_list %}

<div class="card mb-3 mx-4" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4 fit">
        <img class="tig" src="/media/{{AstroPost.body}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body text-right">
          <h5 class="card-title"> By {{AstroPost.author}}</h5>
          <p class="card-text">{{AstroPost.post}}</p>
          <p class="card-text"><small class="text-muted">{{AstroPost.author}}</small></p>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-info sel1" onclick="loadContent(this)" data-urlpage="{% url 'astro-update' AstroPost.pk %}">
            Edit 
          </button>
          <button type="button" class="btn btn-danger sel2"  onclick="loadContent(this)" data-urlpage="{% url 'astro-delete' AstroPost.pk %}">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<script>
  var myModal = undefined
  var contentModel = undefined
  var loadContent = () => {}
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');

    myModal = new bootstrap.Modal(document.getElementById('exampleModal'), [])
    contentModel = document.querySelector("#modalPost")
    loadContent= (element) =>{

        let url = element.dataset.urlpage;
        fetch(url)
        .then(response => response.text())
        .then(data => {
            contentModel.innerHTML = data
            const form = contentModel.querySelector("form")
            if(form){form.setAttribute("action", url)}
            myModal.show()
        });
    }

});

</script>

{% endblock %}