{% extends "layout.html" %}

{% block title %}
Astrophotography
{% endblock %}


{% block content %}

<h2 style="color:white">Post Photos and add some descriptions</h2>
{% load static %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="loadContent(this)" data-urlpage="{% url 'astro-create' %}">
  Add a Post 
</button>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalPost">
              
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Surprise us!!!">Load an Image</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>

{% for AstroPost in object_list %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/media/{{AstroPost.body}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> By: {{AstroPost.author}}</h5>
          <p class="card-text">{{AstroPost.post}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-primary" onclick="loadContent(this)" data-urlpage="{% url 'astro-update' AstroPost.pk %}">
            Edit 
          </button>
          <button type="button" class="btn btn-primary"  onclick="loadContent(this)" data-urlpage="{% url 'astro-delete' AstroPost.pk %}">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<script>
  var myModal = undefined
  var contentModel = undefined
  var loadContent = () => {}
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');

    myModal = new bootstrap.Modal(document.getElementById('exampleModal'), [])
    contentModel = document.querySelector("#modalPost")
    loadContent= (element) =>{

        let url = element.dataset.urlpage;
        fetch(url)
        .then(response => response.text())
        .then(data => {
            contentModel.innerHTML = data
            const form = contentModel.querySelector("form")
            if(form){form.setAttribute("action", url)}
            myModal.show()
        });
    }

});

</script>

{% endblock %}