.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  
  /*everything below here is just setting up the page, so dont worry about it */
  
  
  @media (min-width: 768px) {
    .subnavbar{
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }
  
  body {
    background-color: rgba(0,0,0,1);
    font-weight:600;
    text-align:center !important;
    color: white;
  }
  
  .subnav {
    background: none !important;
    text-transform:uppercase;
  }

  .li {
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .page-title {
    opacity: .75 !important;
  }
  
  /*  Top Navbar */

header .brand-wrapper-mobile {
display: none; }

header.light-text .topnav-wrapper a.btn {
color: #CB2026; }
header.light-text .topnav-wrapper a.btn:hover {
color: #FFFFFF; }

header.light-text .brand-wrapper p.tagline {
color: #FFFFFF;
font-family: 'Road Rage', cursive;
font-weight: 600;
letter-spacing: 1.2px; }

header .brand-wrapper p {
margin-bottom: 0; }
header .brand-wrapper p.tagline {
color: #767676;
margin-top: 10px;
font-family: "Rampart One", cursive;
font-size: 11.5px; }

header .topnav-wrapper {
background-color: #525460;
display: -webkit-box;
display: flex;
-webkit-box-align: center;
    align-items: center;
position: relative;
overflow: hidden;
padding: 0 20px; }
@media (min-width: 768px) {
header .topnav-wrapper {
overflow: inherit; } }
@media (min-width: 1200px) {
header .topnav-wrapper {
padding: 0; } }
header .topnav-wrapper:before {
content: '';
position: absolute;
height: 100%;
width: 55px;
top: 0;
right: 0;
background-image: linear-gradient(270deg, #525460 0%, rgba(82, 84, 96, 0) 100%);
z-index: 1; }
@media (min-width: 768px) {
header .topnav-wrapper:before {
  display: none; } 
}
header .topnav-wrapper .btn3 {
width: 170px;
margin-top: 4px;
border-radius: 2px;
background-color: #FFFFFF;
color: #CB2026;
border: 0;
font-size: 13px;
font-family: "Raod Rage" cursive;
text-transform: uppercase;
-webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
transition: color 0.3s ease-in, background-color 0.3s ease-in;
padding: 6px;
line-height: 1;
height: 24px; 
}

header .topnav-wrapper .btn3:hover {
  background-color: #CB2026;
  color: #FFFFFF; 
}
header .topnav-wrapper .container {
overflow: scroll; 
}
@media (min-width: 768px) {
header .topnav-wrapper .container {
  overflow: inherit; } 
}
header .topnav-wrapper .topnav {
display: -webkit-box;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
padding: 0 11px;
min-width: 690px;
max-width: 1159px; }

@media (min-width: 768px) {
header .topnav-wrapper .topnav {
  padding: 0 0;
  width: 100%;
  margin: 0 auto; } 
}
header .topnav-wrapper .left-top-content {
display: -webkit-box;
display: flex;
-webkit-box-flex: 1;
flex: 1;
-webkit-box-pack: start;
justify-content: flex-start;
-webkit-box-align: center;
align-items: center;
border: 2px solid blue; 
}
header .topnav-wrapper .right-top-content {
display: -webkit-box;
display: flex;
-webkit-box-flex: 1;
flex: 1;
-webkit-box-pack: end;
justify-content: flex-end;
-webkit-box-align: center;
align-items: center;
border: 2px solid red; 
}
header .topnav-wrapper ul {
display: -webkit-box;
display: flex;
padding-left: 0;
list-style-type: none;
margin-bottom: 0; 
}
header .topnav-wrapper ul li {
display: -webkit-box;
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
border-right: 1px solid rgba(229, 231, 233, 0.3);
padding: 7px 15px;
color: #FFFFFF;
font-size: 10px;
line-height: 18px;
text-transform: uppercase;
letter-spacing: 0.03em;
font-family: 'Rampart One', cursive; 
}
@media (min-width: 990px) {
  header .topnav-wrapper ul li {
  padding: 10px 20px; } 
  }
header .topnav-wrapper ul li:first-child {
  padding-left: 0; 
}
header .topnav-wrapper ul li:last-child {
  border-right: 0; 
}
header .topnav-wrapper ul li img {
  fill: #FFFFFF;
  margin-right: 10px;
}

/* Jumbotron */
.jumbotron{
  margin:15px 30px 0px 30px;
  border-radius:10px;
  background-image: url(../styles/img/astronaut.gif);  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/*Moon Calendar */
#phase_calendar{    
  max-width: 700px;
  margin:20px auto;
  background-color: #333333;
  padding: 1%;
  color:white;
  box-sizing: border-box;
  font-family:sans-serif;
  }
  #isToDay{
  box-shadow:inset 0 0 0 1px darkgray;
  }
  .day_box,.name_day,.titleCalendar,.buttonCalendar{
  width: calc(100% / 7);
  display:inline-block;
  vertical-align: top;  
  }
  .titleCalendar{
  width: calc(100% / 7 * 5);
  font-size: 24px;
  text-align: center;
  }
  .buttonCalendar{
  background-color: black;
  text-align: center;
  color:white;
  border:none;
  font-size: 18px;
  padding:0;
  cursor:pointer;
  
  margin:0;
  }
  .name_day{
  overflow: hidden;
  font-size: 14px;
  padding: 1px;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: center;
  }
  .day_box{
  text-align: left!important;
  font-size: 14px;
  background-image: linear-gradient(black, #222222); 
  background-size: 97% 97%;
  background-position: center center;
  background-repeat: no-repeat;
  }    
  
  .day_box>div{
  margin:1px;
  padding:5%;    
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 95% 95%;
  }
  .day_box>div>span{
  position:absolute;
  color:white;
  font-size: 1em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .day_box>div>div{
  padding:5% 15%;   
  }

  /* Footer Layout*/

  .footer{
    margin-top: auto;

  }